html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular, sans-serif;
}
body,
html {
  background: rgb(248, 250, 250);
}

#app {
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  transition: all 0.3s ease-in-out;
}

#app::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

img {
  border: none;
}

p {
  margin-bottom: 0;
}

i,
em {
  font-style: normal;
}

body,
a,
input,
button {
  font-family: PingFangSC-Regular, sans-serif;
  outline: none;
  color: #263440;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

table {
  text-align: center;
  vertical-align: middle;
}

th {
  text-align: center;
  vertical-align: middle;
}

element {
  -webkit-appearance: none;
  /*iphone及ipad下输入框默认内阴影*/
  -webkit-tap-highlight-color: rgba(
    255,
    255,
    255,
    0
  ); /*ios和android下触摸元素时出现半透明灰色遮罩*/
}
element {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
/* ios 设置input 按钮样式会被默认样式覆盖 */
/* ********旋转屏幕时，字体大小调整的问题********* */
html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: 100%;
}
/* ****Input 的placeholder会出现文本位置偏上的情况*** */
input {
  line-height: normal;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
a,
img {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.swipdian span {
  /* /* border-radius: 100%; */
  background: #fff;
  opacity: 0.2;
}
.swipdian .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}
.am-modal-wrap {
  transform: translateZ(0px) !important;
}
* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

*::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1920px) {
  html {
    font-size: 256px;
  }
}
@media (max-width: 1842px) {
  html {
    font-size: 245.6px;
  }
}
@media (max-width: 1762px) {
  html {
    font-size: 234.93px;
  }
}
@media (max-width: 1682px) {
  html {
    font-size: 224.26px;
  }
}
@media (max-width: 1602px) {
  html {
    font-size: 213.6px;
  }
}
@media (max-width: 1522px) {
  html {
    font-size: 202.93px;
  }
}
@media (max-width: 1442px) {
  html {
    font-size: 192.26px;
  }
}
@media (max-width: 1362px) {
  html {
    font-size: 181.6px;
  }
}
@media (max-width: 1282px) {
  html {
    font-size: 170.93px;
  }
}
@media (max-width: 1202px) {
  html {
    font-size: 160.26px;
  }
}
@media (max-width: 1122px) {
  html {
    font-size: 149.6px;
  }
}
@media (max-width: 1042px) {
  html {
    font-size: 138.93px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 136.53px;
  }
}
@media (max-width: 962px) {
  html {
    font-size: 128.26px;
  }
}
@media (max-width: 952px) {
  html {
    font-size: 126.93px;
  }
}
@media (max-width: 902px) {
  html {
    font-size: 120.26px;
  }
}
@media (max-width: 882px) {
  html {
    font-size: 117.6px;
  }
}
@media (max-width: 828px) {
  html {
    font-size: 110.4px;
  }
}
@media (max-width: 802px) {
  html {
    font-size: 106.93px;
  }
}
@media (max-width: 775px) {
  html {
    font-size: 103.33px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 102.4px;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 100px;
  }
}
@media (max-width: 738px) {
  html {
    font-size: 98.4px;
  }
}
@media (max-width: 734px) {
  html {
    font-size: 97.86px;
  }
}
@media (max-width: 733px) {
  html {
    font-size: 97.73px;
  }
}
@media (max-width: 669px) {
  html {
    font-size: 89.2px;
  }
}
@media (max-width: 642px) {
  html {
    font-size: 85.6px;
  }
}
@media (max-width: 602px) {
  html {
    font-size: 80.26px;
  }
}
@media (max-width: 570px) {
  html {
    font-size: 76px;
  }
}
@media (max-width: 535px) {
  html {
    font-size: 71.33px;
  }
}
@media (max-width: 455px) {
  html {
    font-size: 60.66px;
  }
}
@media (max-width: 437px) {
  html {
    font-size: 58.26px;
  }
}
@media (max-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media (max-width: 412px) {
  html {
    font-size: 54.93px;
  }
}
@media (max-width: 394px) {
  html {
    font-size: 52.53px;
  }
}
@media (max-width: 386px) {
  html {
    font-size: 51.46px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media (max-width: 370.8px) {
  html {
    font-size: 49.44px;
  }
}
@media (max-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 42.66px;
  }
}

html {
  font-size: 13.3333vw !important;
}

.mint-swipe-indicator {
  background: #fff !important;
  width: 0.2rem !important;
  height: 0.2rem !important;
  opacity: 1 !important;
}
.home .mint-swipe-indicators {
  bottom: 0.1rem !important;
}
.novice .mint-swipe-indicators {
  bottom: 0rem !important;
}
.mint-swipe-indicators .is-active {
  background: #00aeff !important;
  opacity: 1 !important;
}
.picker-center-highlight {
  font-size: 0.3rem !important;
  color: #000 !important;
}
.novice .mint-tab-item-label {
  width: 100%;
  height: 0.86rem;
  line-height: 0.86rem;
  padding: 0 !important;
  font-size: 0.32rem !important;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
body {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transition-duration: 0.4s;
}
body.bgWhite {
  background-color: #fff;
}
.container {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  left: 0;
  top: 0;
}
/* 覆写组件样式 */
.am-tabs-default-bar-underline {
  border: 1px solid #008cef !important;
}
.am-tabs-default-bar-tab-active {
  color: #008cef !important;
}

.am-list-line::after {
  display: none !important;
}

/* 首页公告样式 */
.am-notice-bar .am-notice-bar-content {
  margin: 0 !important;
}

/* 首页banner样式 */
.am-wingblank.am-wingblank-lg {
  margin: 0 !important;
  /* border-radius: 0.12rem; */
  overflow: hidden;
}

/* 搜索框 */
.am-search {
  padding: 0 0.32rem !important;
}
.am-search-cancel {
  color: rgb(105, 123, 140) !important;
  font-size: 0.28rem !important;
}
/* 存款页面输出框光标 */
section
  .am-list-item
  .am-input-control
  .fake-input-container
  .fake-input.focus:after {
  border-right: 1.5px solid #597ef7;
}

/* 存款页面输出框字体 */
section .am-list-item .am-input-control .fake-input-container .fake-input {
  font-size: 0.46rem;
  font-family: PingFangSC-Regular, sans-serif;
  font-weight: bold;
}

.am-modal-alert-content,
.am-modal-alert-content * {
  font-size: 0.28rem;
}

.am-action-sheet-message,
.am-action-sheet-title {
  margin: 0 !important;
}
